#serif {
    font-family: "Times New Roman", serif;
}
#sans-serif {
    font-family: Arial, sans-serif;
}
#monospace {
    font-family: Courier, monospace;
}
#cursive {
    font-family: "Comic Sans Ms", cursive;
}
#fantasy {
    font-family: Impact, fantasy;
}
#google {
    font-family: 'DynaPuff', cursive;
}