#serif {
    font-family: "Times New Roman", serif;
}
#sans-serif {
    font-family: Arial, sans-serif;
}
#monospace {
    font-family: Courier, monospace;
}
#cursive {
    font-family: "Comic Sans Ms", cursive;
}
#fantasy {
    font-family: Impact, fantasy;
}
#google {
    font-family: 'DynaPuff', cursive;
}

/* --------------------------------------- */

@font-face {
    font-family: "Jua";
    src: url("../fonts/BMJUA_ttf.ttf");
}
@font-face {
    font-family: "Silkscreen-Bold";
    src: url("../fonts/Silkscreen-Bold.ttf");
}
@font-face {
    font-family: "Silkscreen-Regular";
    src: url("../fonts/Silkscreen-Regular.ttf");
}

/* --------------------------------------- */

.jua-font {
    font-family: "Jua";
}
.silkbold {
    font-family: "Silkscreen-Bold";
}
.silkregular {
    font-family: "Silkscreen-Regular";
}